@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/site.css" />
</head>
<body>
    <div class="w3-panel w3-pale-blue w3-border">
        <p style="color:indianred;font-size:40px"><b>Welcome</b></p>
        <br />
        <p>
            Twitter Sentiment Analysis is an "Distributed Applications Programming" project aims to Design and Execute a distributed system using two methods:
        </p>
        <p>
            <br />
            1- Remoting.
            <br />
            2- WCF (Windows Communication Foundation).
        </p>
        <br />
        <p>Here we can find the admin panel who is responsable of operating the system with multiple functions:</p>
        <br />
        <p>Using Remoting:</p>
        <ul>
            <li>Add user</li>
            <li>Remove user</li>
            <li>Add case</li>
            <li>Remove case</li>
            <li>Retrieve users by there IDs</li>
            <li>Retrieve cases by there IDs</li>
            <li>Retrieve cases that user participate with</li>
            <li>Retrieve users of a case</li>
            <li>Add Twit Sentiment</li>
        </ul>
        <p>Using WCF:</p>
        <ul>
            <li>Get case with certine Sentiment</li>
            <li>User's Sentiment changes with time</li>
            <li>Distribution of users upon thier Sentiments</li>
        </ul>
        <p>This project Excuted and Designed by :</p>
        <br />
        * Mohammad Sulaiman Tanbari -> ID: mohammad_sulaiman_116892
        <br />
        * Nazeeh al-Safi -> ID: nazeeh_132544
        <br /><br />
        <div  style="text-align:center"><b>Hope you Enjoy &#128512;</b></div>
    </div>
    </body>
</html>
