@using TwitterSentimentService; 
@{
    ViewBag.Title = "Retrieve User";
}
<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/site.css" />

</head>
<body>
    <p class="note">
        <i class="fa fa-lightbulb-o" style="font-size:28px;color:yellow"></i>
        Note: Make Sure to Submit the Right Information.
    </p>
    <form name="retrieve" action="Verify_retrieveuser" method="post" autocomplete="off">
        <div class="input-group">

            <input type="number" min="0" name="id" placeholder="User ID" required="">
        </div>
        <button class="btn btn-danger btn-block" name="submit" type="submit">Retrieve User by ID</button>

    </form>
    @{
        if (ViewBag.check == false)
        {
            <br />
        }
        else
        {
            if (ViewBag.user.Count == 0)
            {
                <br /><div class="w3-panel w3-pale-yellow w3-border">
                    <h3>Warning!</h3>
                    <p>No user found with this ID!!! Please Try Again.</p>
                    <br />
                </div>
            }

            else
            {

                <br />
                <table>
                    <tr style="background-color: gainsboro;">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                    </tr>
                    @{ foreach (Users user in ViewBag.user)
                        {
                            <tr>
                                <th>@user.first_name</th>
                                <th>@user.last_name</th>
                                <th>@user.dol</th>
                            </tr>
                        }
                    }

                </table>
            }
        }
    }

</body>
</html>
