<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
	</configSections>
	<connectionStrings>
  <add name="TwitterSentimentWcfServiceLibrary.Properties.Settings.TwitterSentimentConnectionString"
   connectionString="Data Source=XM48TJSKGL;Initial Catalog=TwitterSentiment;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="TwitterSentimentWcfServiceLibrary.Properties.Settings.TwitterSentiment2ConnectionString"
   connectionString="Data Source=XM48TJSKGL;Initial Catalog=TwitterSentiment2;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="TwitterSentimentWcfServiceLibrary.TwitterWcfService">
				<endpoint address="" binding="basicHttpBinding" contract="TwitterSentimentWcfServiceLibrary.ITwitterWcfService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8081/TwitterSentimentWcfServiceLibrary.TwitterWcfService.svc/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
 </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
